.main {
    margin: auto;
    width: 1000px;
    display: flex;
    max-width: 100%;
    color: lightcoral;
    justify-content: center;
    background-color: darkslateblue;
    border-radius: 0px 0px 5px 5px;
}

.main div {
    margin: 25px;
    cursor: pointer;
}

.main div:hover {
    color: aqua;
}